<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>aboba</title>
</head>

<body style="margin: 0 0 auto 0">
<div>
		@await Html.PartialAsync("Header")
	@RenderBody()
</div>
</body>
</html>